<div class="container">
  <%= simple_form_for @business do |f| %>
    <%= f.input :name %>
    <%= f.input :category, collection: %w(Painting Electrical Installation Plumbing Carpentry) %>
    <%= f.input :description %>
    <%= f.input :language, collection: %w(English French German Arabic Turkish Farsi Portuguese Spanish Russian Manding) %>
    <%= f.input :location %>
    <%= f.input :qualification %>
    <%= f.input :picture, as: :file %>
    <%= f.submit "Edit business", class: "form-actions button-main" %>
  <% end %>
</div>
