<h2>All businesses available here</h2>




<div class="container">




 <div class="col-xs-6" >
   <div class="right-inner-addon">
     <i class="icon-search"></i>
     <input type="search" class="form-control" placeholder="Search" />
   </div>
 </div>


<div class="verticalLine">

</div>

  <!-- dropdown index page -->
  <div class="dropdown-index-page">
    <%= form_tag(businesses_path, method: "get") do %>
      <%= select_tag :query,  options_for_select([["English"], ["German"]], params[:query]), class: "language", id: "dropdown-filter", include_blank: "Language" %>
      <%= select_tag :query,  options_for_select([["5"], ["4"], ["3"], ["2"], ["1"],], params[:query]), class: "rating", id: "dropdown-filter", include_blank: "Rating" %>
      <%= select_tag :query,  options_for_select([["50$"], ["100$"], ["200$"], ["300$"]], params[:query]), class: "price", id: "dropdown-filter", include_blank: "Price" %>
    <% end %>
  </div>




  <!-- view all cards index page -->
  <div class="card-container">
    <% @businesses.each do |business| %>
      <div class="card-index">
        <p id="service-type">Service Type</p>
        <hr>
        <div class="card-left">
          <%= cl_image_tag("https://res.cloudinary.com/jordannadroj/image/upload/v1613501376/pkvrmhcsxi7i7slo0tcx.jpg", alt: "alttext", class: "avatar") %>

          <p>Name: <strong><%= business.name %></strong></p>
          <p>Category: <strong><%= business.category %></strong></p>
          <p>Description: <strong><%= business.description %></strong></p>
          <button class="button-main">
            Button Main
          </button>
          <p>stars</p>
        </div>
        <div class="card-icons">

        </div>
      </div>
    <% end %>
  </div>
</div>

