<h2>All businesses available here</h2>


<!-- <div class="cards-container">
  <% @busin.each do |bike| %>
    <div class="card">

        <%= link_to(bike_path(bike)) do %>
        <%= cl_image_tag bike.picture.key, brightness: 30, radius: 20, width: 300, height: 300, crop: :thumb %>
        <% end %>

      <div class="card-name-price">
        <p style="text-align: center; font-weight: bold;"><%= bike.name %></p>
        <hr>
        <p>Price: <strong><%= bike.price %></strong> <i class="fas fa-euro-sign"></i> / day</p>
        <p>Category: <%= bike.category %></p>
        <p>Size: <%= bike.size %></p>
        <p><i class="fas fa-map-marker-alt"></i> <%= bike.location %></p>
      </div>
    </div>
  <% end %>
</div> -->


<div class="dropdown-container">
  <div class="dropdown dropdown-filter">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Language <strong></strong>
    </button>
  </div>

  <div class="dropdown dropdown-filter">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Price <strong>All</strong>
    </button>
  </div>

  <div class="dropdown dropdown-filter">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Rating <strong>4*</strong>
    </button>
  </div>

  <div class="dropdown dropdown-filter">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by <strong>Price</strong>
    </button>
  </div>
</div>

<div class="card-index" style="width: 33%; margin-left: 18px;">
    <%= render "shared/card-index" %>
  </div>

<!-- <div class="dropdown-container">
  <div class="dropdown" id="dropdown-home">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Language
    </button>
    <ul>
      <li><a href="#">English</a></li>
      <li><a href="#"></a>German</li>
      <li><a href="#"></a>Spanish</li>
      <li><a href="#"></a>French</li>
    </ul>
  </div>

  <div class="dropdown" id="dropdown-home">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Price
    </button>
    <ul>
      <li><a href="#">50$</a></li>
      <li><a href="#"></a>100$</li>
      <li><a href="#"></a>200$</li>
      <li><a href="#"></a>300$</li>
    </ul>
  </div>

  <div class="dropdown" id="dropdown-home">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Rating
    </button>
    <ul>
      <li><a href="#">1</a></li>
      <li><a href="#"></a>2</li>
      <li><a href="#"></a>3</li>
      <li><a href="#"></a>4</li>
    </ul>
  </div>

  <div class="dropdown" id="dropdown-home">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
    </button>
    <ul>
      <li><a href="#">Price</a></li>
      <li><a href="#"></a>Language</li>
      <li><a href="#"></a>Rating</li>
      <li><a href="#"></a>Service</li>
    </ul>
  </div>
</div>
 -->
