<% languages = [] %>
<% @languages.each do |l| %>
<% languages << l.name %>
<% end %>


<div class="container-index-page">
<!-- Filter by category -->
  <div class="title-index">
   <!-- home-dropdown-banner -->
    <div class="row d-flex justify-content-around" style="margin-top: 40px">
      <h2><strong> <%= params[:query].split.first.capitalize if params[:query].present? %></strong>: <%= pluralize @businesses.length, "service" %> available for you</h2>
    </div>
  </div>

  <%= form_tag(businesses_path, method: "get", id: "filters") do %>
    <%= select_tag :query,  options_for_select(Business::CATEGORY, params[:query]), class: "dropdown input-group dropdown-filter", include_blank: "Service" %>
    <%= select_tag :language,  options_for_select(languages.sort, params[:language]), class: "dropdown input-group dropdown-filter", include_blank: "Language" %>
    <%= select_tag :rating,  options_for_select([1, 2, 3, 4, 5], params[:rating]), class: "dropdown input-group dropdown-filter", include_blank: "Rating" %>
    <%#= select_tag :filter,  options_for_select(@languages_uniq, params[:filter]), class: "dropdown input-group dropdown-filter", include_blank: "Language" %>

    <%#= hidden_field_tag :query, params[:query] %>

    <input type="submit" class="button-main" value="Search" for="dropdown-index"/>
  <% end %>

  <%#= link_to "Sort by rating", sort: "rating"  %>

  <!-- other services  -->


  <!-- Card grid container with all the cards-->
<div class="index-all">
    <div class="related-services">
      <% categories = [] %>
      <% @users.each do |u| %>
        <% u.businesses.each do |b| %>
      <% categories << b.category %>
        <% end %>
        <% end %>
      <% categories_unique = categories.uniq %>

      <ul>
        <% categories_unique.each do |c| %>
        <li><%= c %></li>
        <% end %>
      </ul>
    </div>
    <div class="cards-container-index-page">
      <% @businesses.each do |business| %>
      <!-- each card -->
      <div class="frame " style="margin-bottom: 20px">
        <div class="center">
          <div class="profile">
            <div class="image">
              <div class="circle-1"></div>
                <div class="circle-2"></div>
                 <% if business.user.picture.attached? %>
                  <%= cl_image_tag b.business.user.picture.key, class: "avatar-index" %>
                <% else %>
                  <%= cl_image_tag("https://res.cloudinary.com/jordannadroj/image/upload/v1613501376/pkvrmhcsxi7i7slo0tcx.jpg", alt: "alttext", class: "avatar-index") %>
                <% end %>
                </div>

                <div class="name"><%= business.name %></div>
                <div class="job"><%= business.description %></div>

                <!-- button -->
                <div class="actions">
                  <%= link_to "View", business_path(business), class: "btn" %>
                </div>
          </div>

          <!-- cards with icons -->
          <div class="stats">
            <div class="box">
              <i class="fas fa-bolt"></i>
              <span class="parameter"><%= business.category %></span>
            </div>
            <div class="box">
              <i class="fas fa-map-marker-alt"></i>
                <span class="value"><%= business.location %></span>
            </div>
            <div class="box">
              <i class="fas fa-language"></i>
              <span class="parameter">
                <% unique_languages = business.languages.uniq %>
                <% unique_languages.each do |language| %>
                  <%= language.name %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>
</div>

