<h2>All businesses available here</h2>

<div class="dropdown-index_page">
  <%= form_tag(businesses_path, method: "get") do %>
    <%= select_tag :query,  options_for_select([["English"], ["German"]], params[:query]), class: "dropdown,  input-group", id: "dropdown-home", include_blank: "Language" %>
    <%= select_tag :query,  options_for_select([["5"], ["4"], ["3"], ["2"], ["1"],], params[:query]), class: "dropdown,  input-group", id: "dropdown-home", include_blank: "Rating" %>
    <%= select_tag :query,  options_for_select([["50$"], ["100$"], ["200$"], ["300$"]], params[:query]), class: "dropdown,  input-group", id: "dropdown-home", include_blank: "Price" %>
    <%# select_tag :query,  options_for_select([roles.each { |role| role }], params[:query]), class: "dropdown,  input-group", id: "dropdown-home", include_blank: "Choose a service" %>

      <input type="submit" class="button-main" value="Search" for="inputGroupSelect02">
    <% end %>
</select>
</div>



<div class="card-index" style="width: 33%; margin-left: 18px;">
    <%= render "shared/card-index" %>
  </div>

<!-- <div class="dropdown-container">
  <div class="dropdown" id="dropdown-home">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Language
    </button>
    <ul>
      <li><a href="#">English</a></li>
      <li><a href="#"></a>German</li>
      <li><a href="#"></a>Spanish</li>
      <li><a href="#"></a>French</li>
    </ul>
  </div>

  <div class="dropdown" id="dropdown-home">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Price
    </button>
    <ul>
      <li><a href="#">50$</a></li>
      <li><a href="#"></a>100$</li>
      <li><a href="#"></a>200$</li>
      <li><a href="#"></a>300$</li>
    </ul>
  </div>

  <div class="dropdown" id="dropdown-home">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Rating
    </button>
    <ul>
      <li><a href="#">1</a></li>
      <li><a href="#"></a>2</li>
      <li><a href="#"></a>3</li>
      <li><a href="#"></a>4</li>
    </ul>
  </div>

  <div class="dropdown" id="dropdown-home">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
    </button>
    <ul>
      <li><a href="#">Price</a></li>
      <li><a href="#"></a>Language</li>
      <li><a href="#"></a>Rating</li>
      <li><a href="#"></a>Service</li>
    </ul>
  </div>
</div>
 -->
