<% languages = [] %>
<% @languages.each do |l| %>
<% languages << l.name %>
<% end %>


<div class="container-index-page">
<!-- Filter by category -->

  <!-- home-dropdown-banner -->
  <div class="second-banner-index">
    <div>
      <% if params[:query].present? %>
        <h2><strong> <%= params[:query][:category_id].split.first.capitalize if params[:query][:category_id].present? %></strong>: <%= pluralize @businesses.length, "service" %> available for you</h2>
      <% else %>
        <h2>Search from all <%= pluralize @businesses.length, "service" %></h2>
      <% end %>
    </div>


    <%= form_tag(businesses_path, method: "get", id: "filters") do %>
      <% if params[:query].present? %>
        <%= select_tag "query[category_id]",  options_for_select(Business::CATEGORY, params[:query][:category_id]), class: "dropdown input-group dropdown-filter", include_blank: "Service" %>
      <% end %>
      <%= select_tag :language,  options_for_select(languages.sort, params[:language]), class: "dropdown input-group dropdown-filter", include_blank: "Language" %>
      <%= select_tag :rating,  options_for_select([1, 2, 3, 4, 5], params[:rating]), class: "dropdown input-group dropdown-filter", include_blank: "Rating" %>

      <input type="submit" class="button-main" value="Apply" for="dropdown-index"/>
    <% end %>
  </div>
  <%#= link_to "Sort by rating", sort: "rating"  %>

  <!-- other services  -->


  <!-- Card grid container with all the cards-->
<div class="index-all">
    <div class="related-services">
      <% categories = [] %>
      <% @users.each do |u| %>
        <% u.businesses.each do |b| %>
      <% categories << b.category %>
        <% end %>
        <% end %>
      <% categories_unique = categories.uniq %>
      <h4>More Available Services</h4>
      <ul>
        <% categories_unique.each do |c| %>
        <li>
          <%= link_to c, businesses_path("query[category_id]" => c)   %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="cards-container-index-page">

      <!-- each card -->
      <%= render 'shared/business_card' %>

    </div>
</div>
</div>

