<div class="business-form">

  <h2 align="center" style="margin-top: 20px ">Create your own business:</h2>

  <div class="business-form-input">
   <%= simple_form_for @business do |f| %>
      <%= f.input :name %>
      <%= f.input :category, collection: Business::CATEGORY %>
      <%= f.input :description %>
      <%= f.association :languages, collection: Language.all, as: :select, input_html: { class: "multiple-select", multiple: true } %>
      <%= f.input :location %>
      <%= f.input :qualification %>
      <%= f.input :pictures, as: :file, input_html: { multiple: true } %>
      <%= f.submit "Create business", class: "form-actions button-main" %>
    <% end %>
  </div>

</div>
