<div class="container">
  <div class="row justift-content-center">
    <div class="col-6">
      <%= simple_form_for @business do |f| %>
        <%= f.input :name %>
        <%= f.input :category, collection: Business::CATEGORY %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :qualification %>
        <%= f.input :pictures, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Create business", class: "form-actions button-main" %>
      <% end %>
    </div>
  </div>
</div>
