<!-- this ruby code determines if a chat between the user and business owner already exist -->
<!-- if a chat does not already exist, a new chat is created. If it does it loads the existing chat -->
<% existing_chatroom = @chatrooms.find_by(contractor_id: @business.user_id, customer_id: current_user.id) %>
<% assigned_chat = nil %>

<% if existing_chatroom %>
  <% assigned_chat = chatroom_path(existing_chatroom) %>
<% else %>
  <% assigned_chat = business_chatrooms_path(@business) %>
<% end %>


<div class="container">
  <header></header>
  <main>
    <div class="row justify-content-between">
      <div class="left col-lg-4">
        <!-- avatar -->
        <div class="photo-left">
          <% if @business.user.picture.attached? %>
            <%= cl_image_tag @business.user.picture.key, class: "photo" %>
          <% else %>
            <img class="photo" src="https://images.unsplash.com/photo-1581783898377-1c85bf937427?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2458&q=80">
          <% end %>
        </div>

        <h3 class="name"><%= @business.name %></h3>
        <br>
        <p class="info"><i class="fas fa-briefcase"></i><%= @business.category %></p>
        <!-- <p class="info"><i class="fas fa-briefcase"></i><%#= @business.description %></p> -->
        <p class="info"><i class="fas fa-language"></i>
          <% unique_languages = @business.languages.uniq %>
          <% unique_languages.each do |language| %>
            <%= language.name %>
          <% end %>
        </p>
        <p class="info"><i class="fas fa-map-marker-alt"></i><%= @business.location %></p>
        <p>
          <% if @business.reviews.any? %>
            <% @business.average_rating.to_i.times do %>
              <span><i class="fas fa-star"></i></span>
            <% end %>
          <% end %>
        </p>

       <!--  <div class="stats row"> -->
         <!--  <div class="stat col-xs-4" style="padding-right: 50px;">
            <p class="number-stat">3 619</p>
            <p class="desc-stat">Reviews</p>
          </div> -->
         <!--  <div class="stat col-xs-4">
            <p class="number-stat">4 200</p>
            <p class="desc-stat">Clients</p>
          </div> -->
        <!-- </div> -->
        <p class="desc"><%= @business.description %></p>

      </div>

      <div class="right col-lg-8">
        <ul class="nav">
          <li>Previous works gallery</li>
        </ul>

        <!-- connect button -->
        <div>
          <% if current_user.role == "Customer" %>
            <% if existing_chatroom %>
              <%= link_to "Connect", assigned_chat, class: "connect-show-page" %>
            <% else %>
              <%= link_to "Connect", assigned_chat, method: :post, class: "connect-show-page" %>
            <% end %>
          <% end %>
        </div>

        <!-- previous work gallery -->
        <!-- The expanding image container -->

        <div class="pictures-container row justify-content-between">


        <div class="business-show-container col-lg-6">
          <!-- Expanded image -->
          <img src="<%= cl_image_path @business.pictures.first.key %>" id="expandedImg" >
        </div>


        <div class="row gallery col-lg-6">


          <% @business.pictures.each do |picture| %>

            <div class="col-md-2"><%= cl_image_tag picture.key, class: "work-img" %></div>
          <% end %>



         <!--  <div class="col-md-2">
             <img src="https://images.unsplash.com/photo-1541123437800-1bb1317badc2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1042&q=80" alt="..." class="work-img"/>
          </div>
          <div class="col-md-2">
             <img src="https://images.unsplash.com/photo-1541123437800-1bb1317badc2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1042&q=80" alt="..." class="work-img"/>
          </div>
          <div class="col-md-2">
             <img src="https://images.unsplash.com/photo-1569152811536-fb47aced8409?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1042&q=80" alt="..." class="work-img"/>
          </div>
          <div class="col-md-2">
             <img src="https://images.unsplash.com/photo-1521783593447-5702b9bfd267?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1042&q=80" alt="..." class="work-img"/>
          </div> -->

        </div>

        </div>
    </div>
  </main>

    <!-- Reviews -->
    <%= render "reviews/review_carousel" %>
      <div >
        <% if current_user.bookings.where(business: @business).any? %>
        <% end %>
        <br>
        <hr style="width: 100%;">
        <div class="reviews-form" >
          <p><strong>Leave a review</strong></p>
          <% if @business.bookings.any? {|booking| booking.customer_id == current_user.id}%>
            <%= render "reviews/form" %>
          <% end %>
        </div>
      </div>

<!-- modal  -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Write <%= @business.name %> a message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="button-blue">
          <%= link_to "Connect", business_chatrooms_path(@business), method: :post %>
        </button>
        <button type="button" class="button-decline" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>








































