<div class="big-navbar">
  <img class="avatar-show-page" src="https://images.unsplash.com/photo-1597409212870-c47068072688?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80">
  <%= link_to "Connect", "#", class: "button-blue button-blue-show-page" %>
</div>

<div class="container">
  <div class="row">
    <div class="col card-about info-show-page">
      <h3>About</h3>
      <p><%= @business.language %></p>
      <p><%= @business.location %></p>
      <p><%= @business.description %></p>
    </div>
    <div class="col card-about qualifications-icons" style="text-align: left;">
      <p><i class="fas fa-paint-roller"></i> Painting the walls</p>
      <p><i class="fas fa-palette"></i> Picking up colors</p>
      <p><i class="fas fa-spray-can"></i> Working with a color spray</p>
      <p><i class="fas fa-brush"></i> Doing the walls from scratch</p>
    </div>
    <div class="col card-about qualifications-icons" style="text-align: left;">
      <p><i class="fas fa-swatchbook"></i> Making measurments</p>
      <p><i class="fas fa-wrench"></i> Working with wrench</p>
      <p><i class="fas fa-hammer"></i> Working with hammer</i></p>
      <p><i class="fas fa-screwdriver"></i> Working with a screwdriver</p>
    </div>
  </div>

  <div class="past-work">
    <hr>
    <h3>Past work</h3>
    <br>
    <div class="cards-container">
      <div class="card-work" style="background-image: url('https://images.unsplash.com/photo-1568654360516-7a3aff4c3b4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80')"></div>
      <div class="card-work" style="background-image: url('https://images.unsplash.com/photo-1568654360516-7a3aff4c3b4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80')"></div>
      <div class="card-work" style="background-image: url('https://images.unsplash.com/photo-1568654360516-7a3aff4c3b4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80')"></div>
      <div class="card-work" style="background-image: url('https://images.unsplash.com/photo-1568654360516-7a3aff4c3b4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80')"></div>
    </div>
  </div>

  <div class="reviews">
    <br>
    <hr><h3>Reviews</h3>
    <div class="reviews-container">
      <br>
      <p><%= @business.reviews.length %> reviews</p>
      <div class="review-container">
        <% @business.reviews.each do |review| %>
        <div class="raiting-stars">
          <% review.rating.times do %>
          <p><i class="fas fa-star"></i></p>
          <% end %>
        </div>
        <%= review.content %>
        <% end %>
      </div>
    </div>
  </div>
</div>



