<!-- this ruby code determines if a chat between the user and business owner already exist -->
<!-- if a chat does not already exist, a new chat is created. If it does it loads the existing chat -->
<% existing_chatroom = @chatrooms.find_by(contractor_id: @business.user_id, customer_id: current_user.id) %>
<% assigned_chat = nil %>

<% if existing_chatroom %>
  <% assigned_chat = chatroom_path(existing_chatroom) %>
<% else %>
  <% assigned_chat = business_chatrooms_path(@business) %>
<% end %>


<div class="container">
  <header></header>
  <main>
    <div class="row">
      <div class="left col-lg-4">
        <!-- avatar -->
        <div class="photo-left">
          <% if @business.user.picture.attached? %>
            <%= cl_image_tag @business.user.picture.key, class: "photo circle-3 circle-4" %>
          <% else %>
            <img class="photo circle-3 circle-4" src="https://images.unsplash.com/photo-1597409212870-c47068072688?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80">
          <% end %>
          <div class="active"></div>
        </div>

        <h3 class="name"><%= @business.name %></h3>
        <br>
        <p class="info"> <i class="fas fa-bolt"></i><%= @business.category %></p>
        <p class="info"><i class="fas fa-briefcase"></i><%= @business.description %></p>
        <p class="info"><i class="fas fa-language"></i><%= @business.language %></p>
        <p class="info"><i class="fas fa-map-marker-alt"></i><%= @business.location %></p>
       <!--  <div class="stats row"> -->
         <!--  <div class="stat col-xs-4" style="padding-right: 50px;">
            <p class="number-stat">3 619</p>
            <p class="desc-stat">Reviews</p>
          </div> -->
         <!--  <div class="stat col-xs-4">
            <p class="number-stat">4 200</p>
            <p class="desc-stat">Clients</p>
          </div> -->
        <!-- </div> -->
        <p class="desc">Hello, I am a Painter. With more than 20 years of professional experience I will make your house shining in just a few hours.
          Contact me to know the price and ask all the question regarding my services.</p>
      </div>

      <div class="right col-lg-8">
        <ul class="nav">
          <li>Previous works gallery</li>
        </ul>

        <!-- connect button -->
        <div>
          <% if existing_chatroom %>
            <%= link_to "Connect", assigned_chat, class: "connect-show-page" %>
          <% else %>
            <%= link_to "Connect", assigned_chat, method: :post, class: "connect-show-page" %>
          <% end %>
        </div>

        <!-- previous work gallery -->
        <div class="row gallery">
          <% @business.pictures.each do |picture| %>
            <div class="col-md-4"><%= cl_image_tag picture.key %></div>
          <% end %>

          <div class="col-md-4">
             <img src="https://images.unsplash.com/photo-1568654360516-7a3aff4c3b4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"/>
          </div>
          <div class="col-md-4">
             <img src="https://images.unsplash.com/photo-1568654360516-7a3aff4c3b4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"/>
          </div>
          <div class="col-md-4">
             <img src="https://images.unsplash.com/photo-1568654360516-7a3aff4c3b4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"/>
          </div>
          <div class="col-md-4">
             <img src="https://images.unsplash.com/photo-1568654360516-7a3aff4c3b4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"/>
          </div>
        </div>
      </div>
    </main>
</div>

<!-- modal  -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Write <%= @business.name %> a message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="button-blue">
          <%= link_to "Connect", business_chatrooms_path(@business), method: :post %>
        </button>
        <button type="button" class="button-decline" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

















































