<div class="big-navbar">
  <!-- for messsage modal -->
  <!-- <button type="button" class="button-blue" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button> -->
</div>

<div class="container">

  <div class="row">
    <img class="avatar-show-page" src="https://images.unsplash.com/photo-1597409212870-c47068072688?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80" style="margin-top:-100px; margin-left: -20px; position: absolute;">
  </div>
  <%= link_to "Connect", business_chatrooms_path(@business), method: :post, class: "button-blue button-blue-show-page" %>
  <div class="row">
    <div class="col card-about qualifications-icons info-show-page">
      <h3>About</h3>
<p>Hello, I am a Painter. With more than 20 years of professional experience I will make your house shining in just a few hours.
Contact me to know the price and ask all the question regarding my services.</p>
    </div>
    <div class="col card-about qualifications-icons" style="text-align: left;">
      <p><i class="fas fa-language"></i><%= @business.language %></p>
      <p><i class="fas fa-map-marker-alt"></i><%= @business.location %></p>
      <p><i class="fas fa-briefcase"></i><%= @business.description %></p>
    </div>
  </div>

  <div class="past-work">
    <hr>
    <h3>Past work</h3>
    <br>
    <div class="cards-container">
      <div class="card-work" style="background-image: url('https://images.unsplash.com/photo-1568654360516-7a3aff4c3b4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80')"></div>
      <div class="card-work" style="background-image: url('https://images.unsplash.com/photo-1568654360516-7a3aff4c3b4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80')"></div>
      <div class="card-work" style="background-image: url('https://images.unsplash.com/photo-1568654360516-7a3aff4c3b4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80')"></div>
      <div class="card-work" style="background-image: url('https://images.unsplash.com/photo-1568654360516-7a3aff4c3b4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80')"></div>
    </div>
  </div>

  <div class="reviews">
    <br>
    <hr><h3>Reviews</h3>
    <div class="reviews-container">
      <br>
      <p><%= @business.reviews.length %> reviews</p>
      <div class="review-container">
        <% @business.reviews.each do |review| %>
        <div class="raiting-stars">
          <% review.rating.times do %>
          <p><i class="fas fa-star"></i></p>
          <% end %>
        </div>
        <%= review.content %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- modal  -->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Write <%= @business.name %> a message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="button-blue">
          <%= link_to "Connect", business_chatrooms_path(@business), method: :post %>
        </button>
        <button type="button" class="button-decline" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
























