<div class="chatroom-container">
  <div class="row">
    <div class="chatroom-index col-4">
      <%= render "chatLeft" %>
    </div>
      <div class="col-8">
        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <p>Chat with <%= @chatroom.customer == current_user ? @chatroom.contractor.user_name : @chatroom.customer.user_name %></p>
          <hr>
          <% @chatroom.messages.each do |message| %>
            <%= render "messages/message", message: message, current_user: current_user %>
          <% end %>
        </div>


        <!-- form for creating messages  -->
        <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Type a message #{@chatroom.name}" %>
          <%= f.button :submit, class: 'button-main', value: "Send", id: 'button-message' %>
        <% end %>
      </div>


     <!--  <div class="col-2">
        <p>right side</p>
        <p>@chatroom.contractor.user_name</p>
      </div> -->
    </div>
</div>




