<div class="chatroom-container">
  <div class="row">
    <div class="chatroom-index col-3">
      <%= render "chatLeft" %>
    </div>
      <div class="col-6 chatroom-messages">
        <div id="user-id" data-user-id="<%= current_user.id %>"></div>
        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <p>Chat with <%= @chatroom.customer == current_user ? @chatroom.contractor.user_name : @chatroom.customer.user_name %></p>
          <hr>
          <% @chatroom.messages.each do |message| %>
            <%= render "messages/message", message: message, current_user: current_user %>
          <% end %>
          <div class="booking-request-message">
            <% if @pending_booking.any? %>
              <% if @pending_booking.last.confirmed == nil && @chatroom.customer == current_user %>
                <p>You recevied a booking request from <%= @chatroom.contractor.user_name %></p>
              <% elsif @pending_booking.last.confirmed == nil && @chatroom.contractor == current_user %>
                <p>Awaiting confirmation of your recent booking request from <%= @chatroom.customer.user_name %></p>
              <% end %>
            <% end %>
          </div>
        </div>


        <!-- form for creating messages  -->
        <div class="new_message_form">
          <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
            <%= f.input :content, label: false, placeholder: "Type a message" %>
            <%= f.button :submit, class: 'button-main', value: "Send", id: 'button-message' %>
          <% end %>
        </div>
      </div>


      <div class="col-3">
        <% if current_user.role == "Contractor" %>
        <p>Send <%= @chatroom.customer.user_name %> a booking request</p>
        <hr>
        <%= simple_form_for @booking, url: chatroom_bookings_path(@chatroom), method: :post do |f| %>
            <%= f.input :price %>
            <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
            <%= f.input :description %>
            <%= f.button :submit, class: 'button-main' %>
            <% end %>
          <% else %>
          <p>Details</p>
          <hr>
            <div class="frame " style="margin-bottom: 20px">
              <div class="center">
                <div class="profile">
                  <div class="image">
                    <div class="circle-1"></div>
                      <div class="circle-2"></div>
                       <% if @chatroom.business.contractor.picture.attached? %>
                          <%= cl_image_tag @chatroom.business.contractor.picture.key, class: "avatar-index" %>
                        <% else %>
                          <%= cl_image_tag("https://res.cloudinary.com/jordannadroj/image/upload/v1613501376/pkvrmhcsxi7i7slo0tcx.jpg", alt: "alttext", class: "avatar-index") %>
                        <% end %>
                      </div>

                      <div class="name"><%= @chatroom.business.name %></div>

                      <!-- button -->
                      <div class="actions">
                        <%= link_to "View", business_path(@chatroom.business), class: "btn" %>
                      </div>
                </div>

                <!-- cards with icons -->
                <div class="stats">
                  <div class="box">
                    <i class="fas fa-briefcase"></i>
                    <span class="parameter"><%= @chatroom.business.category %></span>
                  </div>
                  <div class="box">
                    <i class="fas fa-map-marker-alt"></i>
                      <span class="value"><%= @chatroom.business.location %></span>
                  </div>
                  <div class="box">
                    <i class="fas fa-user-check"></i>
                    <span class="parameter">Certified</span>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <br>
        <!-- for bookings on chatroom page -->
        <p>Latest Booking</p>
        <% if @pending_booking.any? %>
          <% b = @pending_booking.last %>
          <% confirmed = '' %>
            <% if b.confirmed == nil %>
              <% confirmed = 'Pending' %>
            <% elsif b.confirmed %>
              <% confirmed = 'Confirmed' %>
            <% else %>
              <% confirmed = 'Declined' %>
            <% end %>
          <div class="booking-request">
            <% if @chatroom.customer == current_user %>
              <p><strong>Booking request from <%= @chatroom.contractor.user_name %>: </strong><span style="<%= 'color: red;' if confirmed == 'Declined' %>"><%= confirmed %></span></p>
            <% else %>
              <p><strong>Booking request for <%= @chatroom.customer.user_name %>: </strong><span style="<%= 'color: red;' if confirmed == 'Declined' %>"> <%= confirmed %></span></p>
            <% end %>
            <div style="display: flex; justify-content: space-between;">
              <p><i class="fas fa-money-check"></i><%= b.price.to_i %>€</p>
              <p><i class="fas fa-hourglass-start"></i><%= b.start_date.strftime("%-d %b %Y") %></p>
              <p><i class="fas fa-hourglass-end"></i><%= b.end_date.strftime("%-d %b %Y") %></p>
            </div>
            <p><strong>Note:</strong> <%= b.description %></p>
            <% if current_user.role == "Customer" %>
              <% if b.confirmed == nil %>
                <div class="accept-decline" id="booking-buttons">
                  <%= simple_form_for(b) do |f| %>
                    <%= f.hidden_field :confirmed, :value => true %>
                    <%= f.submit value="Accept", class: "button-accept", id: "button-accept", style: "padding: 14px; margin-right: 12px;" %>
                  <% end %>

                  <%= simple_form_for(b) do |f| %>
                    <%= f.hidden_field :confirmed, :value => false %>
                    <%= f.submit value="Decline", class: "button-decline", id: "button-decline", style: "padding: 14px; margin-right: 12px;" %>
                  <% end %>
            <% else %>
                <%= link_to "View Bookings", bookings_path, class: "button-main", id: "button-chatroom-booking"  %>
              <% end %>
            <% else %>
                <%= link_to "View Bookings", bookings_path, class: "button-main", id: "button-chatroom-booking"  %>
            <% end %>

              <!-- <button class="button-decline" id="button-decline">
                <%#= link_to "Decline", b, method: :delete, data: {confirm: "Are you sure?"}, style: "color: black;" %>
              </button> -->
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
<br><br>

<div class="row">

  <%# end %>
</div>




















