<!-- <div class="row d-flex justify-content-around" style="margin-top: 40px"> -->
<div class="row d-flex" style="margin-top: 40px">
  <h1 style="text-align: center;
    margin: auto;">My Bookings</h1>
</div>
  <div>
    <% @bookings.where(confirmed: true).each do |b| %>
      <!-- big booking card -->
      <div class="my-booking-big-card">
        <div class="my-booking-general-info row">
          <div class="my-booking-info col-md-9">
            <ul>
              <h6><strong>Booking with </strong><%= b.contractor.user_name %>, <%= b.business.category %>.</h6>
              <br>
              <p><i class="fas fa-money-check"></i></i>Price: <%= b.price.to_i %>€</p>
              <p><i class="fas fa-hourglass-start"></i>From: <%= b.start_date.strftime("%-d %b %Y") %></p>
              <p><i class="fas fa-hourglass-end"></i>To: <%= b.end_date.strftime("%-d %b %Y") %></p>
            </ul>
          </div>
            <div class="my-booking-buttons-two col-md-3">
            <!-- contractor avatar -->
              <div class="my-booking-contractor">
                <div class="my-booking-contractor-avatar">
                  <div class="circle-1"></div>
                    <div class="circle-2"></div>
                      <% if b.business.user.picture.attached? %>
                        <%= cl_image_tag b.business.user.picture.key, class: "avatar-index" %>
                      <% else %>
                        <%= cl_image_tag("https://res.cloudinary.com/jordannadroj/image/upload/v1613501376/pkvrmhcsxi7i7slo0tcx.jpg", alt: "alttext", class: "avatar-index") %>
                      <% end %>
                </div>
              </div>
              <div class="my-booking-buttons actions">
                <div class="my-booking-button-view">
                  <%= link_to "View", business_path(b.business), class: "btn" %>
                </div>
                 <div class="my-booking-button-go-to-chart">
                  <% @chatroom = Chatroom.find_by(contractor_id: b.contractor_id) %>
                  <%= link_to "Go to chat",  chatroom_path(@chatroom), class: "btn" %>
                </div>
              </div>
          </div>
        </div>
        <!-- description -->
        <div class="my-booking-description">
            <p><strong>Additional information</strong></p>
            <p><%= b.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
