<% @chatroom = Chatroom.where(customer_id: current_user).or(Chatroom.where(contractor_id: current_user)).first
 %>


 <div class="navbar navbar-expand-sm navbar-light <%= "navbar-trans" if current_page? root_path %>">
  <%= link_to root_path, class: "navbar-brand #{"brand-white" if current_page? root_path}" do %>
      <%= image_tag "bee.png", alt: "alttext", id: "bee-logo" %>
      HandyBee
    <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%# if user_signed_in? %>
    <%# if current_user.role == "Contractor" %>
    <%#= link_to "Add Your Businesses", new_business_path  %>
    <%# end %>
  <%# end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.picture.attached? %>
          <div class="avatar-navbar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="">
            <%= cl_image_tag current_user.picture.key, class: "avatar"%>
          </div>
          <% else %>
            <i class="far fa-user avatar-navbar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Account", account_path, class: "dropdown-item" %>
            <% if @chatroom %>
            <%= link_to "Messages", chatroom_path(@chatroom), class: "dropdown-item" %>
            <% end %>
            <%= link_to "Bookings", bookings_path, class: "dropdown-item" %>
            <% if current_user.role == "Contractor" %>
            <%= link_to "Add Business", new_business_path, class: "dropdown-item" %>
            <%= link_to "My Businesses", my_businesses_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link",  id: "login-button" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
