<br>
<div class="account-information">
  <h2>Account information</h2>
  <hr>
  <% if @user.picture.attached? %>
  <%= cl_image_tag @user.picture.key, class: "avatar" %>
  <% else %>
  <p></p>
  <% end %>

  <br>
  <br>
  <br>

  <% if @user.role == "Contractor" %>
    <div class="user-info">
      <div class="user-info-item">
        <p><strong>Username</strong></p>
        <p><%= @user.user_name %></p>
      </div>
      <div class="user-info-item">
        <p><strong>email</strong></p>
        <p><%= @user.email %></p>
      </div>
      <div class="user-info-item">
        <p><strong>Address</strong></p>
        <p><%= @user.address %></p>
      </div>
    </div>
  <% else %>
    <div class="user-info">
      <div class="user-info-item">
        <p><strong>Username</strong></p>
        <p><%= @user.user_name %></p>
      </div>
      <div class="user-info-item">
        <p><strong>email</strong></p>
        <p><%= @user.email %></p>
      </div>
    <% end %>
    <%= link_to "Edit", edit_user_registration_path  %>
</div>






